<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- <param name="/use_sim_time" value="true" /> -->
 
  <!-- <node pkg="tf_static" type="static_transform_publisher" name="static_transform" args="485600 4234000 200 0 0 0 map spatial 100 "/> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform" args="485600 4234000 0 0 0 0 gps_frame map 100 "/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform2" args="0 0 0 0 0 0 map spatial 10 "/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform3" args="0 0 0 0 0 0 spatial human 100 "/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform" args="-50 -50 0 0 0 0 gps_frame map 100 "/> -->

  <!-- RVIZ launch -->
  <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find grid_map_pcl)/rviz/rviz.rviz"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find grid_map_pcl)/rviz/rviz2.rviz"/> -->



</launch>
