<?xml version="1.0" ?>
<robot name="human" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- <link name = "base_footprint" />  -->
    
    <link name="base_link">
        <!-- pose and inertial -->
        <pose>0 0 0 0 0 0</pose>
        <inertial>
        <mass value="5"/>   

        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="3.33341666667e+3" ixy="0" ixz="0" iyy="3.33341666667e+3" iyz="0" izz="6.66666666667e+3"/>
        </inertial>

        <!-- body -->
        <collision name="collision">
            <geometry>
                <box size="0.5 0.5 1.0"/>
            </geometry>

        </collision>
        <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
            <box size="0.5 0.5 1.0"/>
        </geometry>
           
        </visual>
    </link>
    <!-- <joint name="base_joint" type="floating">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
    </joint> -->

    <gazebo reference = "base_link">    
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/Black</material>
   

    </gazebo>
    
    <gazebo >
        <plugin name="motion_model" filename="libmotion_model.so"/>
    </gazebo>




</robot>